<table>
  <thead>
    <tr>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
      <th>Sat</th>
      <th>Sun</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let week of calendar">
      <td 
        *ngFor="let day of week.days" 
        [class.disabled]="day.disabled"
        [class.selected]="day.selected"
        [class.weekend]="day.weekend"
        (click)="selectDay(day.value)">
        <span
          [class.active]="day.active">
        {{ day.value | moment:'ddd DD' }}
        </span>
      </td>
    </tr>
  </tbody>
</table>
